.Button-Div {
    /* Search-Btn */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;

    width: 35px;
    height: 35px;

    background: linear-gradient(138.88deg, #0000 8.38%, #00F27E 93.05%);;
    background-color: #00F27E;
    box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.13);
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    transition: all 200ms ease-in;
}

.Button-Div:hover {
    border-radius: 40px;
    background-color: #49FFDE;
}

.Image {
    width: 33px;
    height: 33px;
}