.Book-List-Div {
    width: 100%;
    padding-bottom: 32px;
}

.Book-View-Wrapper {
    padding-top: 4vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Book-View-Result-Wrapper {
    width: 100%;
/*     display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);  */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    padding-bottom: 32px;

    gap: 32px;
}