.Database-Control-Wrapper {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;


    padding-left: 1.2vw;
    padding-right: 1.2vw;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;

    background: #E5EAF1;
    box-shadow: 1px 1px 20px 10px rgba(92, 138, 116, 0.25);
    border-radius: 20px;
}