.Suggestion {
    /* suggestion-btn */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 11px;
    gap: 10px;

    width: 540px;
    height: 23px;

    /* Primary */
    background: linear-gradient(90.1deg, #0000 0%, #5C8A74 100.92%);
    background-color: #5C8A74;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    /* Animation */
    transition: all 300ms ease-in;
    
    cursor: pointer;
}

.Suggestion:hover {
    background-color: #00F27E;
}

.Suggestion-Text {
    /* Suggestion... */

    width: 100%;
    height: 100%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}