.Search-Page-App-Container {
    /* Desktop-Landing */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    width: 100%;
    min-height: 100%;
    margin: 0px;

    padding-bottom: 38px;

    background: #E5EAF1;
}