.Entry-Wrapper {
    /* Search-Entry-With-Expandable-Frame */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.Entry {
    /* Search-Result */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 24px;

    width: 486px;
    height: 209px;

    background: #E5EAF1;
    box-shadow: 1px 1px 20px 15px rgba(92, 138, 116, 0.26);
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Book-Image {
    /* break_over 1 */

    width: 214px;
    height: 149px;

    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Right-Wrapper {
    /* Left-Frame */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    gap: 20px;

    width: 208px;
    height: 111px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;  
}

.Info-Wrapper {
    /* Name-Author-Frame */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 7px;
    gap: 3px;

    width: 200px;
    height: 57px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Book-Name-Text {
    /* Name */

    width: 186px;
    height: 25px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Author-Name-Text {
    /* Author */

    width: 121px;
    height: 17px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #858585;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Availability-Button {
    /* Check-Availability-Btn */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 200px;
    height: 24px;

    background: linear-gradient(265.27deg, #0000 20.55%, #00F27E 94.17%);
    background-color: #00F27E;
    box-shadow: 1px 1px 20px 7px rgba(73, 255, 168, 0.53);
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    /* Animation */
    transition: all 400ms ease-in;
}

.Availability-Button:hover {
    background-color: #00FFE0;
}

.Availability-Text {
    /* Check Availability */

    width: 96px;
    height: 14px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #5F5F5F;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}